.bg-main {
  background-color: var(--bg-main);
}

.bg-accent {
  background-color: var(--bg-accent);
}

.text-main {
  color: var(--text-main);
}

.text-accent {
  color: var(--text-accent);
}

button[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.8;
}
