.bg-main {
  background-color: var(--bg-main);
}

.bg-accent {
  background-color: var(--bg-accent);
}

.text-main {
  color: var(--text-main);
}

.text-accent {
  color: var(--text-accent);
}

button[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.8;
}

.textNunito {
  font-family: 'Nunito', sans-serif;
  color: #292c49;
  font-size: 17px;
}

.textNunitoMed {
  font-family: 'NunitoMed', sans-serif;
  color: #292c49;
  font-weight: 600;
}

.textNunitoItalic {
  font-family: 'NunitoItalic', sans-serif;
  font-style: italic;
  color: #292c49;
}
