<div id="navbar"></div>
<section id="login">
  <h3 style="color: var(--main-color);">Login</h3>
  <section class="p-6 m-16"></section>
  <section class="p-6 m-16"></section>
  <section class="p-6 m-16"></section>
  <section class="p-6 m-16"></section>
  <section class="p-6 m-16"></section>
  <section class="p-6 m-16"></section>
  <section class="p-6 m-16"></section>
  <section class="p-6 m-16"></section>
  <section class="p-6 m-16"></section>
  <section class="p-6 m-16"></section>
  <section class="p-6 m-16"></section>
  <section class="p-6 m-16"></section>
</section>
<div id="footer"></div>

<script src="../../loaders/load-principal.js"></script>
<script src="../../loaders/component-loader.js"></script>
<script>
  loadComponent('navbar', 'navbar');
  loadComponent('footer', 'footer');
</script>